RentCar/RentCarClient/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="CarRentalService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/RentCarLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICarRentalService_RentCar_InputMessage">
    <wsdl:part name="parameters" element="tns:RentCar" />
  </wsdl:message>
  <wsdl:message name="ICarRentalService_RentCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:RentCarResponse" />
  </wsdl:message>
  <wsdl:message name="ICarRentalService_ReturnCar_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnCar" />
  </wsdl:message>
  <wsdl:message name="ICarRentalService_ReturnCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnCarResponse" />
  </wsdl:message>
  <wsdl:message name="ICarRentalService_GetCars_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCars" />
  </wsdl:message>
  <wsdl:message name="ICarRentalService_GetCars_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarsResponse" />
  </wsdl:message>
  <wsdl:portType name="ICarRentalService">
    <wsdl:operation name="RentCar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICarRentalService/RentCar" message="tns:ICarRentalService_RentCar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICarRentalService/RentCarResponse" message="tns:ICarRentalService_RentCar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnCar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICarRentalService/ReturnCar" message="tns:ICarRentalService_ReturnCar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICarRentalService/ReturnCarResponse" message="tns:ICarRentalService_ReturnCar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCars">
      <wsdl:input wsaw:Action="http://tempuri.org/ICarRentalService/GetCars" message="tns:ICarRentalService_GetCars_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICarRentalService/GetCarsResponse" message="tns:ICarRentalService_GetCars_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICarRentalService" type="tns:ICarRentalService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RentCar">
      <soap:operation soapAction="http://tempuri.org/ICarRentalService/RentCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnCar">
      <soap:operation soapAction="http://tempuri.org/ICarRentalService/ReturnCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCars">
      <soap:operation soapAction="http://tempuri.org/ICarRentalService/GetCars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CarRentalService">
    <wsdl:port name="BasicHttpBinding_ICarRentalService" binding="tns:BasicHttpBinding_ICarRentalService">
      <soap:address location="http://localhost:8000/RentCarLibrary/RentCarService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>